Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/*/Binaries/
Plugins/*/Intermediate/
.DS_Store
Thumbs.db
*.xcworkspace/**
xcuserdata/
